<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://kit.fontawesome.com/93d0725df0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
<style type="text/css">
body {
	background-image: url('https://media.licdn.com/dms/image/C511BAQGtyK1WuihUPw/company-background_10000/0?e=2159024400&v=beta&t=JoCs2xOpvITPNCCPIlkj-39yhviqtpxmOFfq9G8NYXs')		
}
body {
	background-repeat: no-repeat;		
}
body {
	background-position: center center;		
}
</style>
</head>
<body>
<div class="alert alert-success" role="alert">
	<h1>
	<i class="fa fa-thermometer-half fa-lg" aria-hidden="true"></i>
		<a href="/play?choice=rock">Rock</a>
		<a href="/play?choice=paper">Paper</a>
		<a href="/play?choice=scissor">Scissor</a>
		<i class="fa fa-heartbeat fa-lg" aria-hidden="true"></i>
		<i class="fab fa-angrycreative fa-lg"></i>
		<!-- <img src="/ThymeLeafWebSimple/src/main/resources/static/BIRD.jpg" class="rounded-top" 
		 th:src="@{BIRD.jpg}" align="top"/> -->
		 
		<!--  <img src=[# th:src="@{BIRD.jpg}" alt="logo" /> -->
	</h1>
	</div>
</body>
</html>